.markdown-body ul, 
.markdown-body ol {
    /* line-height 값을 줄입니다. 기본값은 보통 1.5 정도입니다. */
    line-height: 1.3; 

    /* list-item 주변의 위/아래 여백(margin/padding)을 줄이거나 제거할 수 있습니다. */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.markdown-body ul li, 
.markdown-body ol li {
    line-height: 1.3; /* 원하는 줄 높이 */
    padding: 0;       /* 내부 여백 제거 */
    margin: 0;        /* 외부 여백 제거 */
}

.markdown-body li > p {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body h1, 
.markdown-body h2
 {
    color: #d6db53; /* VS Code 기본 파란색 계열 */
    /* 또는 */
    /* color: darkred; */
    /* color: rgb(100, 50, 200); */
}
.markdown-body h3, 
.markdown-body h4, 
.markdown-body h5, 
.markdown-body h6 {
    color: #B8F8FB; /* VS Code 기본 파란색 계열 */
    /* 또는 */
    /* color: darkred; */
    /* color: rgb(100, 50, 200); */
}